:root {
    --green: #abd9ab;
    --white: #ffffff;
    --transparentWhite: #fffffff2;
    --darkGrey: #2c3537;
    --lightGrey: #5f7379;
    --faintGrey: #b9d0d7;
    --transparentFaintGrey: hsla(194, 27%, 78%, 0.949);
    --themeColour: #007ca7;
}

html {
  /* Replace '100px' with the height of your menu bar */
  scroll-padding-top: 50px; 
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: "Montserrat", Helvetica;
    font-size: 12pt;
    line-height: 1.4;
}

li {
    list-style: circle;
}

h2 {
    color: var(--themeColour);
    font-family: "Montserrat", Helvetica;
}

h3 {
    color: var(--themeColour);
    font-family: "Montserrat", Helvetica;
}

small {
    font-size: 9pt;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--darkGrey);
    --navColor: var(--lightGrey);
    --titleColor: var(--themeColour);
    --btnBg: var(--darkGrey);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--darkGrey);
}

.btn {
    position: absolute;
    top: 80px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    z-index: 1;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--transparentWhite);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid var(--faintGrey);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: var(--navColor);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
}

.topnav a.name {
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/*.topnav a.name:hover {

}*/

/* Add an active class to highlight the current page */
.topnav a.active {
    color: var(--darkGrey);
    font-weight: bold;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.topnav-right {
    float: right;
}

.footer {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 14px 20px;
    background-color: var(--transparentWhite);
    color: var(--lightGrey);
    text-align: center;
    border-top: 1px solid var(--faintGrey);
}

/* Main content */
.main {
    max-width: 900px;
    margin: 0 auto;
}

.container {
    margin-top: 70px; /* Add a top margin to avoid content overlay */
    margin-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
}

.header {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    color: var(--themeColour);
}

.nameUnderline {
    width: 160px;
    border: 2px solid;
    color: var(--themeColour);
}

.slimColumnLeft {
    position: relative;
    float: left;
    box-sizing: border-box;
    text-align: right;
    padding-right: 20px;
    width: 38%;
}

.slimColumnRight {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    width: 38%;
}

.wideColumnLeft {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding-right: 20px;
    width: 62%;
}

.wideColumnRight {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    width: 62%;
}

.small {
    font-size: 10pt;
    margin-bottom: 8px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    /*.topnav a:not(:first-child) {display: none;}*/
    .topnav a {display: none;}
    .topnav a.icon {
      float: left;
      display: block;
    }
    .topnav-right {
        float: left;
    }

    .slimColumnLeft {
        width: 100%;
        max-width: 228px;
        float: none;
        margin: 20px auto;
        padding-right: 0;
    }

    .slimColumnRight {
        width: 100%;
        max-width: 260px;
        float: none;
        margin: 0 auto;
        padding-left: 0;
    }

    .wideColumnRight {
        width: 100%;
        float: none;
        padding-left: 0;
    }

    .wideColumnLeft {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        padding-right: 0;
    }

    .container {
        margin-top: 70px; /* Add a top margin to avoid content overlay */
        margin-bottom: 100px;
        padding-right: 20px;
        padding-left: 20px;
    }


}
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
  This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive a.icon {
        float: left;
        display: block;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a.name {
        float: none;
        display: block;
        text-align: center;
    }
}